* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(2, 0, 36);
    background: linear-gradient( 90deg, rgb(110, 104, 231) 0%, rgb(37, 37, 204) 35%, rgb(84, 156, 170) 100%);
    height: 100vh;
}

.mainDiv,
.container {
    width: 100%;
    text-align: center;
}

.mainDiv {
    padding-top: 4%;
}

.addBtn {
    font-size: 25px;
    text-align: center;
    margin: auto;
    vertical-align: middle;
    height: 4rem;
    width: 4rem;
    font-weight: bold;
    color: white;
    background: rgb(50, 50, 50);
    background: radial-gradient( circle, rgba(50, 50, 50, 1) 0%, rgba(90, 90, 136, 1) 0%, rgba(0, 0, 0, 1) 100%);
    border: none;
    border-radius: 50px;
    outline: none;
    cursor: pointer;
}

.inputField {
    border: none;
    background-color: white;
    color: black;
    font-size: 16px;
    height: 5rem;
    width: 40rem;
    border-radius: 16px;
    padding-left: 10px;
    margin-right: 10px;
    outline: none;
}

.editBtn {
    cursor: pointer;
    color: greenyellow;
    background-color: transparent;
    font-size: 16px;
    border: 1px solid;
    padding: 0.5rem;
    outline: none;
    margin-right: 10px;
    font-weight: bold;
}

.deleteBtn {
    cursor: pointer;
    color: red;
    background-color: transparent;
    font-size: 16px;
    border: 1px solid;
    padding: 0.5rem;
    outline: none;
    font-weight: bold;
}

.item {
    height: 25px;
    border: none;
    border-radius: 16px;
    margin-right: 10px;
    background-color: white;
    width: 25%;
    color: black;
    padding-left: 10px;
    outline: none;
    font-size: 15px;
}

.main {
    padding-top: 4%;
}